@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Подключение базового шрифта
$font-regular: 'Montserrat', sans-serif;

// Базовые настройки для body
body {
    font-family: $font-regular; // Убрано некорректное пространство имен
    font-size: 16px;
    line-height: 1.5;
    color: #333; // Основной цвет текста
}

// Пример стилей для заголовков
h1, h2, h3 {
    font-family: $font-regular; // Убрано некорректное пространство имен
    font-weight: 700; // Жирный шрифт
}

// Пример стилей для параграфов
p {
    font-family: $font-regular;
    font-weight: 400; // Обычный вес
}
