// Миксин для градиентного фона
@mixin gradient-bg($gradient) {
    background: $gradient;
  }
  
  // Миксин для текста
  @mixin font-style($size, $weight: normal, $color: inherit) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
  }
  