@media screen and (min-width: 767px) {

    .turn {
        height: 187px;
    }

    .grid {
        div {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 10px;
            margin-bottom: 60px;
        }

        h1 {
            margin-bottom: 60px;
        }
    }

    .grid .icong {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

        .icon {
            margin: 0;
        }

        div {
            display: flex;
        }
    }


    .content {
        border-radius: 0 0 12px 12px;
    }

    .team {
        width: 648px;
        display: flex;
        align-items: center;
        margin: 60px 60px 0 60px;

        .imgt {
            width: 648px;
            height: 500px;
        }

        img {
            // height: auto;
            object-fit: cover
        }

        .part {
            width: auto;
        }
    }

    .clients {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .color1,
            .color2,
            .color3,
            .color4,
            .color5,
            .color6,
            .color7,
            .color8,
            .color9,
            .color10,
            .color11,
            .color12 {
                min-width: 256px;
                display: flex;
            }
        }
    }

    .part2 {
        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            /* Создаем 2 колонки равной ширины */
            //    row-gap: 30px;

            /* Отступы между элементами */
            .item {
                display: flex;
                flex-direction: column;
                gap: 0;

                div {
                    display: flex;
                    flex-direction: column;
                }
            }

            .item:nth-child(3) {
                grid-column: 1 / span 2;
                /* Занимаем две колонки */
            }

            .asociat {
                display: flex;
                gap: 0;
            }
        }

        .mobile-foot {
            display: none;
        }

        .desktop-foot {
            display: flex;
            justify-content: space-between;
            h6 {
                font-size: 16px;
                line-height: 19px;
                font-weight: 400;
                color: rgba(179, 179, 186, 1);
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            height: 80px;
            gap: 0;

            .address {

                li:nth-child(1) a {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    color: rgba(50, 50, 100, 1);
                }

                li:nth-child(2) {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 700;
                    color: rgba(36, 163, 255, 1);
                }

                li::after {
                    content: "•";
                    /* Добавляем разделитель */
                    color: rgba(179, 179, 186, 1);
                    /* Цвет точки */
                    margin-left: 7px;
                    /* Отступ между текстом и точкой */
                    margin-right: 7px;
                    font-size: 2rem;
                }

                li:last-child::after {
                    content: "";
                    /* Убираем точку у последнего элемента */
                }
            }

            .contact {
                li:nth-child(1) svg:hover {
                    fill: rgba(240, 20, 90, 1);
                    margin: 5px;
                }

                li:nth-child(2) a {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 700;
                    color: rgba(70, 70, 110, 1);
                    margin: 10px 0;
                }

                li:nth-child(3) a {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 700;
                    color: rgba(36, 163, 255, 1);
                }

                li:nth-child(3) a:hover {
                    color: rgba(240, 20, 90, 1);
                }

                li::after {
                    content: "•";
                    /* Добавляем разделитель */
                    color: rgba(179, 179, 186, 1);
                    /* Цвет точки */
                    margin-left: 7px;
                    /* Отступ между текстом и точкой */
                    margin-right: 7px;
                    font-size: 2rem;
                }

                li:last-child::after {
                    content: "";
                    /* Убираем точку у последнего элемента */
                }
            }

           
        }


        .row {
            width: auto;
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            // flex-wrap: wrap;
        }

        .address,
        .contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }





    }










}